

.secondtitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav-item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
}

.item a {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.item a.active {
    border-bottom-color: #000;
}
.thetext {
     background-color: #fff;
     border-radius: 10px;
     padding: 30px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

.create {
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 40px; /* Increase the padding to make my button longer */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 30px auto 0; 
}

.create:hover {
    background-color: #999;
}


.post-form .context {
    margin-bottom: 25px; 
}


