@page "/"

<PageTitle>Index</PageTitle>

<h3>Welcome to Via blog</h3>

<div class="button-container">
        <a href="/createuser" class="button">Register</a>
                <a href="/login" class="button">Login</a>
    </div>