@page "/MyPosts"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@using Microsoft.AspNetCore.Authorization
@inject IPostService postService;
@inject NavigationManager NavigationManager;
@inject ILocationService LocationService;
@inject ICategoryService CategoryService;
@using Domain.Models
 <div class="w3-row">
@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts to be found</span>
}
else
{
    <div class="blogs-container">
    @foreach (Post post in posts)
    {
        <section class="blogs-section">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">@post.Title</h1>
                <p class="blog-overview">@post.description</p>
                <a href="/ViewOnePost" class="btn dark">read</a>
            </div>
        </section>
    }
    </div>
}
</div>
@code {
    private IEnumerable<Post>? posts;
    private string msg = "";
    private int userId = 2;

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            SearchParameters searchParameters = new SearchParameters(null,null,null,userId);
            posts = await postService.FindByParameters(searchParameters);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    /* private async Task goToPosts(int id)
    {
        postService.id = id;
        NavigationManager.NavigateTo("/ViewOnePost");
     }*/
    
}