@page "/MyPosts"




<h3> My Posts </h3>
<div class="blogs-container">
    
    <section class="blogs-section">
        <a href="/ViewOnePost" class="blog-link">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/EditPost" class="btn dark">Edit</a>
            </div>
        </a>
    </section>

    
    <section class="blogs-section">
        <a href="/ViewOnePost" class="blog-link">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/EditPost" class="btn dark">Edit</a>
            </div>
        </a>
    </section>

    <section class="blogs-section">
        <a href="/ViewOnePost" class="blog-link">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/EditPost" class="btn dark">Edit</a>
            </div>
        </a>
    </section>

    <section class="blogs-section">
        <a href="/ViewOnePost" class="blog-link">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/EditPost" class="btn dark">Edit</a>
            </div>
        </a>
    </section>

    <section class="blogs-section">
        <a href="/ViewOnePost" class="blog-link">
            <div class="blog-card">
                <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/EditPost" class="btn dark">Edit</a>
            </div>
        </a>
    </section>
</div>


@code {
    
}