@page "/ResetedPassword"




<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Your password has changed!</h3>
              <p> Log In to your account</p>

            

              <div class="d-grid">
                <a href="/LogIn" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">Log in</a>
                

                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
    
}