@page "/SavedPost"
@attribute [Authorize]


<h3> Saved Posts </h3>

<div class="body1">
    <section class="wholebox">
        <div class="box">
            <img src="https://www.nationalgeographic.com.es/medio/2022/04/23/libros_b2d310d5_1280x852.jpg" class="photo" alt="">
            <h1 class="titleexample">Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
            <a href="/ViewOnePost" class="btn">read</a>
        </div>
    </section>
</div>



@code {
    
}