@page "/SearchUser"
@attribute [Authorize]


    <title>Search</title>


    <div class="container">
        <div class="content">
            <input type="text" placeholder="Not working">
            <button>Search</button>
        </div>
        <div class="profile">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" >
            <div>
                <h6>Angela Cuesta</h6>
                <p>it is important to write in plain English, so that your statement is clearly evident. Furthermore, it is important to remember to write continuously in the simple present</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" >
            <div>
                <h6>Angela Cuesta</h6>
                <p>it is important to write in plain English, so that your statement is clearly evident. Furthermore, it is important to remember to write continuously in the simple present</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" >
            <div>
               <h6>Angela Cuesta</h6>
               
                <p>The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" >
            <div>
                <h6>MiguelVieira</h6>
                <p>it is important to write in plain English, so that your statement is clearly evident. Furthermore, it is important to remember to write continuously in the simple present</p>
            </div>
        </div>
        <div class="profile">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" >
            <div>
                <h6>Iker Sanmartin</h6>
                <p>it is important to write in plain English, so that your statement is clearly evident. Furthermore, it is important to remember to write continuously in the simple present</p>
            </div>
        </div>
     
    </div>



@code {
    
}