@page "/SearchUser"
@attribute [Authorize]


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input type="text" placeholder="Search for users...">
            <button>Search</button>
        </div>
        <div class="user-card">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User 1">
            <div>
                <h6>John Doe</h6>
                <p>Yes you can! Further more, you should! It let's you create really beautiful images either for elements or for the entire background </p>
            </div>
        </div>
        <div class="user-card">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User 2">
            <div>
                <h6>John Doe</h6>
                <p>You will never know exactly how something will go until you try it. You can think three hundred times and still have no precise result.</p>
            </div>
        </div>
        <div class="user-card">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User 3">
            <div>
               <h6>John Doe</h6>
               
                <p>The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.</p>
            </div>
        </div>
        <div class="user-card">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 4">
            <div>
                <h6>John Doe</h6>
                <p>Yes you can! Further more, you should! It let's you create really beautiful images either for elements or for the entire background.</p>
            </div>
        </div>
        <div class="user-card">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User 4">
            <div>
                <h6>John Doe</h6>
                <p>Yes you can! Further more, you should! It let's you create really beautiful images either for elements or for the entire background.</p>
            </div>
        </div>
     
    </div>
</body>
</html>

@code {
    
}