@page "/ViewPostss"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@using Microsoft.AspNetCore.Authorization
@inject IPostService postService;
@inject NavigationManager NavigationManager;

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="topnav">
    <a class="active" href="#ViewPosts.razor">Home</a>
    <a href="/CreatePost">Create</a>
    <div class="profile-icon">
        <a href="/ManageProfile"><i class="fas fa-user"></i></a>
    </div>
    <input type="text" placeholder="Search..">
</div>
</body>

<div class="category">
    <form name="form1" id="form1" action="/action_page.php">
        Category: <select name="subject" id="subject">
            <option value="" selected="selected">Homework</option>
            <option value="">Advice</option>
        </select>
    </form>
</div>

<div class="choose-campus">
    <form name="form2" id="form2" action="/action_page.php">
        Choose campus: <select name="subject" id="subject">
            <option value="" selected="selected">Horsens</option>
            <option value="">Viborg</option>
            <option value="">Aarhus</option>
        </select>
    </form>
</div>

<head>
 <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 { font-family: "Raleway", sans-serif; }
    </style>
</head>
<body class="w3-light-grey">
<div class="w3-content" style="max-width:1400px">

  

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                    <h3><b>TITLE HEADING</b></h3>
                    <!-- Image Box -->
                    <div class="image-box">
                        <img src="https://th.bing.com/th/id/R.3db668e21f134bf436cdc41e719aa40e?rik=BYVew9uCj5DZiA&pid=ImgRaw&r=0" alt="Nature" style="width:100%">
                    </div>
                    <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
                </div>

                <div class="w3-container">
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p>
                                <a href="/ViewOnePost" class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b>
                                </a>
                            </p>

                        </div>
                        <div class="w3-col m4 w3-hide-small">
                                       <!-- Display the number of likes -->
                                       <p><span class="w3-padding-large w3-right"><b>Likes  </b> <span class="w3-badge">@likesCount</span></span></p>
                                   </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                    <h3><b>BLOG ENTRY</b></h3>
                    <!-- Image Box -->
                    <div class="image-box">
                        <img src="https://th.bing.com/th/id/R.3db668e21f134bf436cdc41e719aa40e?rik=BYVew9uCj5DZiA&pid=ImgRaw&r=0" alt="Norway" style="width:100%">
                    </div>
                    <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
                </div>

                <div class="w3-container">
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <div class="w3-row">
                        <div class="w3-col m8 s12">
                            <p>
                                <a href="/ViewOnePost" class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b>
                                </a>
                            </p>

                        </div>
                        <div class="w3-col m4 w3-hide-small">
                                       <!-- Display the number of likes -->
                                       <p><span class="w3-padding-large w3-right"><b>Likes  </b> <span class="w3-badge">@likesCount</span></span></p>
                                   </div>
                    </div>
                </div>
            </div>
            <!-- END BLOG ENTRIES -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="/w3images/avatar_g.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>My Name</b></h4>
                    <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>



@code {
    
    private int likesCount = 0;

    private void LikePost()
    {
        likesCount++;
    }
    private IEnumerable<Post>? posts;
    private Post post;
    private string msg = "";

    /* private async Task goToPosts(int id)
    {
        postService.id = id;
        NavigationManager.NavigateTo("/ViewOnePost");
    }*/

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            post = await postService.GetByIdAsync(2);
            Console.WriteLine("Blazor");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}