* {
    box-sizing: border-box;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;}



body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f1f1f1;
}


.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}


.topnav {
    background-color: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.topnav a {
    color: #333;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
}

.topnav a.active {
    background-color: dimgray;
    color: white;
}

.topnav input[type="text"] {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 5px;
}


