@page "/ViewPostss"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using Domain.DTOs
@using Microsoft.AspNetCore.Authorization
@inject IPostService postService;
<h3 style="text-align: center">Overview of all posts</h3>
@if (posts == null)
{
    <span>Loading..</span>
    <h2>@msg</h2>
}
else if (!posts.Any())
{
    <span>No posts to be found</span>
}
else
{
    <div class="users-container">
        @foreach (Post post in posts)
        {
            <div class="post-card">
                <h5>@post.Title</h5>
                <label >@post.description</label>
                <br/>
                <label >@post.Id</label>
                <br/>
            </div>
        }
    </div>
}
@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            SearchParameters searchParameters = new SearchParameters();
            searchParameters.title = "Cozy Cabin Retreat";
            posts = await postService.FindByParameters(searchParameters);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}