.page {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 2rem;
}


.sidebar {
    background-color: #333;
    padding: 1rem;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Arial, sans-serif;
    transition: width 0.5s ease;
}



.top-row {
    background-color: #333;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Arial, sans-serif;
}

.top-row a,
.top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-weight: bold;
}

.top-row a:hover,
.top-row .btn-link:hover {
    text-decoration: underline;
    color: #ccc;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a,
    .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    main,
    article {
        padding: 2rem;
    }
}
